@charset "utm-8";

body {
    background-color: lightskyblue;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
h1 {
    color: brown;
    text-align: center;
}
h2 {
    color: chocolate;
}
p {
    text-align: justify;
}